<div class="media">
  <div class="media-left">
    <%= image_tag 'http://placehold.it/70x70' %>
  </div>
  <div class="media-body">
    <a href="<%= user_path(post.user) %>">
      <h4 class="media-heading"><%= post.user.email %></h4>
    </a>
    <p><%= post.content %></p>
    
    <p>
      <small>
	<%= render partial: 'shared/likes', locals: {post: post} %>
      </small>
    </p>
    <%= render partial: 'shared/comment_form', locals: {post: post} %>
  </div>
</div>
