<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fb-navbar-collapse" aria-expanded="false">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Facebook</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li>
	  <button class="btn btn-default dropdown-toggle notification-btn" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    <span class="glyphicon glyphicon-globe <%= "notifications-true" if current_user.pending_friend_requests.where(approved: false).any? %>" aria-hidden="true"></span>
	    <span class="badge">
	      <%= current_user.pending_friend_requests.where(approved: false).count %>
	    </span>
	  </button>
	  <% if current_user.pending_friend_requests.any? %>
	    <ul class="dropdown-menu request-dropdown" aria-labelledby="dropdownMenu1">
	      <% current_user.pending_friend_requests.each do |request| %>
	        <li>
		  <div class="row">
		    <div class="col-md-6">
		      <%= link_to request.user.email, user_path(request.user.id) %>
		    </div>
		    <div class="col-md-3">
		      <%= form_for(request, url: approve_friend_request_path(request), method: :post) do |f| %>
		        <%= f.submit 'Approve', class: 'btn btn-success' %>
		      <% end %>
		    </div>
		    <div class="col-md-3">
		      <%= link_to 'Delete', friend_request_path(request), method: :delete, class: 'btn btn-danger' %>
		    </div>
		  </div>
		</li>
	      <% end %>
	    </ul>
	  <% end %>
	</li>
        <li>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
	</li>
	<li>
	  <%= link_to current_user.email, '#' %>
	</li>
      <% else %>
        <li>
	  <%= link_to 'Login', new_user_session_path %>
	</li>
      <% end %>
    </ul>
  </div>
</nav>
